<ion-view hide-nav-bar="true">
    <div class="input-field" style="margin-right: 5%">
        <i style="text-align: center" class="prefix icon ion-person"></i>
        <input id="userID" type="text" ng-model="userInfo.username">
        <label for="userID">username</label>
    </div>
    <div class="input-field" style="margin-right: 5%">
        <i style="text-align: center" class="prefix icon ion-locked"></i>
        <input id="password" type="password" ng-model="userInfo.password">
        <label for="password">password</label>
    </div>
    <button style="width: 100%" class="button waves-effect waves-lights" ng-click="login()">login</button>
</ion-view>
